
    <div class="form-group">
      <input id="search_box" type="text" class="form-control"placeholder="Search">
    </div>
    <a href="#" id="search_button" class="btn btn-default">Search</a>      
    <div id="output"></output>